* {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

.panel {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

#title {
    margin-top: 5%;
    text-align: center;
}

.container {
    outline: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.input-container form {
    position: relative;
    margin: 5% 5% 0 5%;
}


.input-container .input {
    width: 88%;
    height: 28px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-container .submit {
    width: 12%;
    height: 26px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.input-container .submit:hover {
    background: #e2e2e2;
}

.list {
    margin: 2% 5% 0 5%;
}

.control {
    margin: 2% 5% 0 5%;
}

.control .clear {
    float: right;
    width: 15%;
    height: 30px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.control .clear:hover {
    background: #99cc33;
    color: #fff;
}

.list ul li {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.list ul li button {
    float: right;
    width: 12%;
    height: 26px;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}
.list ul li button:hover {
    background: red;
    color: #fff;
}